html body {
    height: 100%;
    width: 100%;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.layui-header {
    background-color: black !important;
    text-align: center;
    color: white;
}

.layui-side {
    background-color: black;
    text-align: center;
    color: white;
}

.layui-body {
    background-color: #f7f4f4f1 !important;
    color: white;
}

.side_title {
    font-size: 25px;
}

.side_content {
    margin-top: 20px;
    font-size: 18px;
}

.main {
    display: flex;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.div_vedio {
    width: 65%;
    height: 100%;
}

.droppable {
    border: 1px solid rgb(10, 10, 10);
    width: 50%;
    height: 50%;
    float: left;
}

.ps {
    border: 1px solid rgb(8, 8, 8);
    width: 35%;
    height: 100%;
}

.ps_picture {
    height: 180px;
}

.ps_text {
    margin-top: 20px;
    color: black;
}

.icon {
    color: black;
}