html body {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

* {
    margin: 0px;
    padding: 0px;
}

.layui-header {
    background-color: black !important;
    text-align: center;
    color: white;
}

.layui-side {
    background-color: black;
    text-align: center;
    color: white;
}

.layui-body {
    background-color: whitesmoke !important;
}

.side_title {
    font-size: 25px;
}

.side_content {
    margin-top: 20px;
    font-size: 18px;
}

.main {
    width: 100%;
    height: 100%;
    border: 1px solid black;
    display: flex;
}

.div_vedio {
    width: 65%;
    box-sizing: border-box;
}

.droppable {
    border: 1px solid rgb(13, 14, 13);
    width: 49.5%;
    height: 49%;
    float: left;
}

.ps {
    border: 1px solid black;
    width: 35%;
    height: 100%;
}

.ps_picture {
    height: 180px;
}

.ps_text {
  
    margin-top: 20px;
    color: black;
}

.icon {
    color: black;
}