html body{
    margin: 0px;
    padding: 0px;
    height: 100%;
    height: 100%;
    }
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    }
.layui-layout{
    cursor: pointer;
    width: 100%;
    height: 100%;
    }
.layui-header{
    background-color:  #080808 !important;
    }

.layui-body{
    background-color:  #464747 !important;
    }
h1{
    color: white;
    margin-left: 700px;
    text-shadow: 10px 10px 10px white;
}
.layui-nav{
    height: 100%;
    background-color: #1a1919 !important;
}
.layui-nav{
    height: 100%
}
.aa{
    color: white;
    font-size: 18px !important;
    line-height: 80px;
}
#fenye{
    text-align: center;
}

